﻿@{
    ViewBag.Title = "Error Archive";
    ViewBag.TemplateTitle = "Basic Error Information";
}
@using System.Data
@using ErrorArchive.Models
@model BasicErrorInformation

<table id="BasicErrorTable"  class="display">
    <thead>
        <tr>
            <th>
                Error Id
            </th>
            <th>
                System
            </th>
            <th>
                Technology
            </th>
            <th>
                Error Type
            </th>
            <th>
                Throw In
            </th>
            <th>
                Machine Name
            </th>
            <th>
                DateTime Thrown
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.errors.Rows)
        {
            <tr>
                <td>
                    <a href="@(Url.Action("ViewErrorDetails", "Home",new { id = row["ErrorId"] }))">@row["ErrorId"]</a>
                </td>
                <td>
                    @row["System"]
                </td>
                <td>
                    @row["Technology"]
                </td>
                <td>
                    @row["ErrorType"]
                </td>
                <td>
                    @row["ObjectThrownIn"]
                </td>
                <td>
                    @row["MachineName"]
                </td>
                <td>
                    @row["DateTimeAdded"]
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#BasicErrorTable').DataTable();
    });

</script>