﻿@{
    ViewBag.Title = "Error Details";
    ViewBag.TemplateTitle = "Error Details";
}

@using System.Data;
@using ErrorArchive.Models;
@model FullErrorInformationModel

<h3><strong>Error Message</strong></h3>
<p>@Model.BasicInfo["ErrorMessage"]</p>

<br />

<h3><strong>Basic Error Info</strong></h3>
<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            @foreach (DataColumn column in Model.BasicInfo.Table.Columns)
            {
                if (column.ColumnName != "ErrorMessage")
                {
                    <th>
                        @Model.FormatColumnText(column.ColumnName)
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (DataColumn column in Model.BasicInfo.Table.Columns)
            {
                if (column.ColumnName != "ErrorMessage")
                {
                    <td>
                        @Model.BasicInfo[column.ColumnName]
                    </td>
                }
            }
        </tr>
    </tbody>
</table>

@if (Model.MethodInfo != null)
{
    <br />
    <h3><strong>Method Error Info</strong></h3>
    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                @foreach (DataColumn column in Model.MethodInfo.Table.Columns)
                {
                    <th>
                        @Model.FormatColumnText(column.ColumnName)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (DataColumn column in Model.MethodInfo.Table.Columns)
                {
                    <td>
                        @Model.MethodInfo[column.ColumnName]
                    </td>
                }
            </tr>
        </tbody>
    </table>
}


@if (Model.WebInfo != null)
{
    <br />
    <h3><strong>Web Error Info</strong></h3>
    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                @foreach (DataColumn column in Model.WebInfo.Table.Columns)
                {
                    <th>
                        @Model.FormatColumnText(column.ColumnName)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (DataColumn column in Model.WebInfo.Table.Columns)
                {
                    <td>
                        @Model.WebInfo[column.ColumnName]
                    </td>
                }
            </tr>
        </tbody>
    </table>
}


@if (Model.SqlInfo != null)
{
    <br/>
    <h3><strong>SQL Error Info</strong></h3>
    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                @foreach (DataColumn column in Model.SqlInfo.Table.Columns)
                {
                    <th>
                        @Model.FormatColumnText(column.ColumnName)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (DataColumn column in Model.SqlInfo.Table.Columns)
                {
                    <td>
                        @Model.SqlInfo[column.ColumnName]
                    </td>
                }
            </tr>
        </tbody>
    </table>
}