﻿.TemplateTopLeftBlock {
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    width: 280px;
    background-color: #2196fe;
    text-align: center;
    vertical-align: central;
}


.TemplateTopRightBlock {
    position: absolute;
    top: 0;
    left: 280px;
    height: 65px;
    width: calc(100% - 280px);
    background-color: #b3d4fc;
}

.TemplateBottomLeftBlock {
    position: absolute;
    top: 65px;
    left: 0;
    height: calc(100% - 65px);
    width: 280px;
    background-color: #50acfc;
}

.TemplateBottomRightBlock {
    position: absolute;
    top: 65px;
    left: 280px;
    height: calc(100% - 65px);
    width: calc(100% - 280px);
    background-color: #bfdbfc;
    overflow-x: auto;
    overflow-y: auto;
}

.TempalteUpperPadding
{
    padding: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

tr:nth-child(even) {
    background: #f8f8f8;
}

tr:nth-child(odd) {
    background: #EEEEEE;
}

tr:nth-child(1) {
    background-color: #c7c8c9;
}
