﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body> 
    <div class="TemplateTopLeftBlock">
        <div class="TempalteUpperPadding">
            <p><a href="@Url.Action("Index","Home",null)" style="color:black">Error Archive</a></p>
        </div>
    </div>

    <div class="TemplateTopRightBlock">
        <div class="TempalteUpperPadding">
            <p>@ViewBag.TemplateTitle</p>
        </div>
    </div>

    <div class="TemplateBottomLeftBlock">
        <div class="TempalteUpperPadding">
            <p>Menu System</p>
        </div>
    </div>

    <div class="TemplateBottomRightBlock">
        <div class="body-content">
            @RenderBody()
        </div>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
